<div id="find_me" class="container text-center">
  <h3><%= t('site.name') %></h3>
  <p><em><%= t('site.tagline') %></em></p>
  <p><%= t('site.about') %></p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Student</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <%= image_tag("other/a4.jpg", class: "img-circle person", html: { width: "255", height: "255"}) %>
      </a>
      <div id="demo" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>Loves long walks on the beach</p>
        <p>Member since 1988</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Teacher</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <%= image_tag("other/a4.jpg", class: "img-circle person", html: { width: "255", height: "255"}) %>
      </a>
      <div id="demo2" class="collapse">
        <p>Drummer</p>
        <p>Loves drummin'</p>
        <p>Member since 1988</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Organization</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <%= image_tag("other/a4.jpg", class: "img-circle person", html: { width: "255", height: "255"}) %>
      </a>
      <div id="demo3" class="collapse">
        <p>Bass player</p>
        <p>Loves math</p>
        <p>Member since 2005</p>
      </div>
    </div>
  </div>
</div>
